*{
    box-sizing: border-box;
}

html{
    color: var(--clr1);
    line-height: 1.25;
    letter-spacing: 0.03em;
    font-family: Lato, sans-serif;
}

body{
    margin: 0;
    font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6{
    line-height: 1.07;
    margin-top: 0;
    margin-bottom: 1em;
}

img{
    width: 100%;
}

a {
    color: var(--clr4);
}

a:hover{
    text-decoration: none;
}


button{
    font-family: Lato, sans-serif;
    font-size: 1em;
    line-height: 2.5;
    letter-spacing: 0.03em;
    font-weight: bold;
    position: relative;
    background-color: var(--clr3);
    color: var(--clr9);
    border: 2px solid var(--clr9);
    padding: 0 1.25em;
}

button:hover{
    color: var(--clr4);
    border-color: var(--clr4);
    cursor: pointer;
}